body {
	margin: 24px;
	max-width: 800px;
	font-family: sans-serif;
}

code,
textarea {
	font-family: Menlo, Monaco, Consolas;
}

code {
	background: #eee;
	padding: 0 4px;
}

.short-image {
	overflow-wrap: break-word;
	font-size: 11pt;
}

.error {
	border-color: #d00;
	outline-color: #d00;
}
